<h1 class="main-title">Flight Cards</h1>
<div *ngIf="flights$ | async as flights else noData" class="cards-container">
  <div *ngFor="let flight of flights" class="cards-container-elem">
    <mat-card>
      <app-flight-card [flight]="flight"></app-flight-card>
      <button mat-flat-button color="accent" class="card-button edit-button" (click)='goToEdit(flight.key)'>Edit</button>
      <button mat-flat-button color="primary" (click)='delete(flight.key)' class="card-button">Delete</button>
    </mat-card>
  </div>
</div>
<ng-template #noData>
  <p class="error-info">No Data Available.</p>
</ng-template>
