.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards-container-elem {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
.card-button {
  width: 100%;
}
.main-title {
  margin: 50px auto;
  font-family: 'Anton', sans-serif;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 30px grey;
  text-align: center;
}
.edit-button{
  margin-bottom: 10px;
}
