<h1 class="main-title">Edit flight</h1>
<mat-card class="create-flight-card">
  <button mat-raised-button color="accent" class="return-button" (click)="goToMainPage()">Back</button>
  <div class="flight-form">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field">
        <mat-label>Origin</mat-label>
        <input matInput formControlName="origin">
        <mat-error *ngIf="editForm.get('origin').hasError('required')">Origin is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Destination</mat-label>
        <input matInput formControlName="destination">
        <mat-error *ngIf="editForm.get('destination').hasError('required')">Destination is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Departure Time</mat-label>
        <input matInput formControlName="departureTime">
        <mat-error *ngIf="editForm.get('departureTime').hasError('required')">Departure time is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Return time</mat-label>
        <input matInput formControlName="returnTime">
        <mat-error *ngIf="editForm.get('returnTime').hasError('required')">Return time is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code">
        <mat-error *ngIf="editForm.get('code').hasError('required')">Code is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Additional Information</mat-label>
        <input matInput formControlName="additionalInformation">
        <mat-error *ngIf="editForm.get('additionalInformation').hasError('required')">Additional information is required</mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-select formControlName="crew" placeholder="Choose a crew">
          <mat-option *ngFor="let crew of crews" [value]="crew.value"> {{ crew.value }} </mat-option>
        </mat-select>
        <mat-error *ngIf="editForm.get('crew').hasError('required')">Crew is required</mat-error>
      </mat-form-field>
        <div class="form-buttons">
           <button mat-raised-button color="primary" class="form-button">Edit flight</button>
           <button mat-raised-button color="basic" type="reset">Clear the form</button>
        </div>
    </form>
  </div>
</mat-card>
