<mat-card-header class="card-header">
   <mat-card-title>
     <p class="card__info"> Destination: {{ showDestination }}</p>
   </mat-card-title>
   <mat-card-subtitle> Code: {{ showCode }}</mat-card-subtitle>
</mat-card-header>
  <p class="card__info"> Departure Time: {{ showDepartureTime }}</p>
  <p class="card__info"> Return Time: {{ showReturnTime }}</p>
  <p class="card__info"> Origin: {{ showOrigin }}</p>
  <p class="card__info"> Additional Information: {{ showAdditionalInformation }}</p>
  <p class="card__info"> Crew: {{ showCrew }}</p>
